*,
*::after,
*::before {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    display: block;
}

head {
    display: none;
}

:root {
    font-family: sans-serif;
    font-size: 100%;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    --g-col: 12;
    --g-gap: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    min-width: 20rem;
    min-height: 20rem;
    overflow: visible;
}

.g {
    display: grid;
    grid-template-columns: repeat(var(--g-col, 12), minmax(0, 1fr));
    gap: var(--g-gap, 0);
}

.s-1 {
    grid-column: span 1;
}

.s-2 {
    grid-column: span 2;
}

.s-3 {
    grid-column: span 3;
}

.s-4 {
    grid-column: span 4;
}

.s-5 {
    grid-column: span 5;
}

.s-6 {
    grid-column: span 6;
}

.s-7 {
    grid-column: span 7;
}

.s-8 {
    grid-column: span 8;
}

.s-9 {
    grid-column: span 9;
}

.s-10 {
    grid-column: span 10;
}

.s-11 {
    grid-column: span 11;
}

.s-12 {
    grid-column: span 12;
}

@media (min-width: 36rem) {
    .b1-s-1 {
        grid-column: span 1;
    }

    .b1-s-2 {
        grid-column: span 2;
    }

    .b1-s-3 {
        grid-column: span 3;
    }

    .b1-s-4 {
        grid-column: span 4;
    }

    .b1-s-5 {
        grid-column: span 5;
    }

    .b1-s-6 {
        grid-column: span 6;
    }

    .b1-s-7 {
        grid-column: span 7;
    }

    .b1-s-8 {
        grid-column: span 8;
    }

    .b1-s-9 {
        grid-column: span 9;
    }

    .b1-s-10 {
        grid-column: span 10;
    }

    .b1-s-11 {
        grid-column: span 11;
    }

    .b1-s-12 {
        grid-column: span 12;
    }
}

@media (min-width: 48rem) {
    .b2-s-1 {
        grid-column: span 1;
    }

    .b2-s-2 {
        grid-column: span 2;
    }

    .b2-s-3 {
        grid-column: span 3;
    }

    .b2-s-4 {
        grid-column: span 4;
    }

    .b2-s-5 {
        grid-column: span 5;
    }

    .b2-s-6 {
        grid-column: span 6;
    }

    .b2-s-7 {
        grid-column: span 7;
    }

    .b2-s-8 {
        grid-column: span 8;
    }

    .b2-s-9 {
        grid-column: span 9;
    }

    .b2-s-10 {
        grid-column: span 10;
    }

    .b2-s-11 {
        grid-column: span 11;
    }

    .b2-s-12 {
        grid-column: span 12;
    }
}

@media (min-width: 60rem) {
    .b3-s-1 {
        grid-column: span 1;
    }

    .b3-s-2 {
        grid-column: span 2;
    }

    .b3-s-3 {
        grid-column: span 3;
    }

    .b3-s-4 {
        grid-column: span 4;
    }

    .b3-s-5 {
        grid-column: span 5;
    }

    .b3-s-6 {
        grid-column: span 6;
    }

    .b3-s-7 {
        grid-column: span 7;
    }

    .b3-s-8 {
        grid-column: span 8;
    }

    .b3-s-9 {
        grid-column: span 9;
    }

    .b3-s-10 {
        grid-column: span 10;
    }

    .b3-s-11 {
        grid-column: span 11;
    }

    .b3-s-12 {
        grid-column: span 12;
    }
}

@media (min-width: 72rem) {
    .b4-s-1 {
        grid-column: span 1;
    }

    .b4-s-2 {
        grid-column: span 2;
    }

    .b4-s-3 {
        grid-column: span 3;
    }

    .b4-s-4 {
        grid-column: span 4;
    }

    .b4-s-5 {
        grid-column: span 5;
    }

    .b4-s-6 {
        grid-column: span 6;
    }

    .b4-s-7 {
        grid-column: span 7;
    }

    .b4-s-8 {
        grid-column: span 8;
    }

    .b4-s-9 {
        grid-column: span 9;
    }

    .b4-s-10 {
        grid-column: span 10;
    }

    .b4-s-11 {
        grid-column: span 11;
    }

    .b4-s-12 {
        grid-column: span 12;
    }
}

@media (min-width: 84rem) {
    .b5-s-1 {
        grid-column: span 1;
    }

    .b5-s-2 {
        grid-column: span 2;
    }

    .b5-s-3 {
        grid-column: span 3;
    }

    .b5-s-4 {
        grid-column: span 4;
    }

    .b5-s-5 {
        grid-column: span 5;
    }

    .b5-s-6 {
        grid-column: span 6;
    }

    .b5-s-7 {
        grid-column: span 7;
    }

    .b5-s-8 {
        grid-column: span 8;
    }

    .b5-s-9 {
        grid-column: span 9;
    }

    .b5-s-10 {
        grid-column: span 10;
    }

    .b5-s-11 {
        grid-column: span 11;
    }

    .b5-s-12 {
        grid-column: span 12;
    }
}

.size {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-family: monospace;
}
