*,
*::after,
*::before {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
div,
html,
p {
    display: block;
}

head {
    display: none;
}

:root {
    font-family: sans-serif;
    font-size: 100%;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    --g-col: 12;
    --g-gap: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    min-width: 20rem;
    min-height: 20rem;
    overflow: visible;
}

/*
 * gr = grid root
 * gg = grid gap
 * er = equal rows
 * sc = subgrid columns
 * sr = subgrid rows
 * cs = column span
 * rs = row span
 * b1 = breakpoint 1
 * b2 = breakpoint 2
 * b3 = breakpoint 3
 * b4 = breakpoint 4
 * b5 = breakpoint 5
 * b6 = breakpoint 6
 */

.gr {
    display: grid;
    grid-template-columns: repeat(var(--g-col, 12), minmax(0, 1fr));
    gap: var(--g-gap, 0);
}

.gg-0 {
    --g-gap: 0;
}

.gg-1 {
    --g-gap: 0.25rem;
}

.gg-2 {
    --g-gap: 0.5rem;
}

.gg-3 {
    --g-gap: 0.75rem;
}

.gg-4 {
    --g-gap: 1rem;
}

.gg-5 {
    --g-gap: 1.25rem;
}

.gg-6 {
    --g-gap: 1.5rem;
}

.er {
    grid-auto-rows: minmax(0, 1fr);
}

.sc {
    display: grid;
    grid-template-columns: subgrid;
}

.sr {
    display: grid;
    grid-template-rows: subgrid;
}

.cs-1 {
    grid-column: span 1;
}

.cs-2 {
    grid-column: span 2;
}

.cs-3 {
    grid-column: span 3;
}

.cs-4 {
    grid-column: span 4;
}

.cs-5 {
    grid-column: span 5;
}

.cs-6 {
    grid-column: span 6;
}

.cs-7 {
    grid-column: span 7;
}

.cs-8 {
    grid-column: span 8;
}

.cs-9 {
    grid-column: span 9;
}

.cs-10 {
    grid-column: span 10;
}

.cs-11 {
    grid-column: span 11;
}

.cs-12 {
    grid-column: span 12;
}

.rs-1 {
    grid-row: span 1;
}

.rs-2 {
    grid-row: span 2;
}

.rs-3 {
    grid-row: span 3;
}

.rs-4 {
    grid-row: span 4;
}

.rs-5 {
    grid-row: span 5;
}

.rs-6 {
    grid-row: span 6;
}

@media (min-width: 36rem) {
    .b1-gg-0 {
        --g-gap: 0;
    }

    .b1-gg-1 {
        --g-gap: 0.25rem;
    }

    .b1-gg-2 {
        --g-gap: 0.5rem;
    }

    .b1-gg-3 {
        --g-gap: 0.75rem;
    }

    .b1-gg-4 {
        --g-gap: 1rem;
    }

    .b1-gg-5 {
        --g-gap: 1.25rem;
    }

    .b1-gg-6 {
        --g-gap: 1.5rem;
    }

    .b1-cs-1 {
        grid-column: span 1;
    }

    .b1-cs-2 {
        grid-column: span 2;
    }

    .b1-cs-3 {
        grid-column: span 3;
    }

    .b1-cs-4 {
        grid-column: span 4;
    }

    .b1-cs-5 {
        grid-column: span 5;
    }

    .b1-cs-6 {
        grid-column: span 6;
    }

    .b1-cs-7 {
        grid-column: span 7;
    }

    .b1-cs-8 {
        grid-column: span 8;
    }

    .b1-cs-9 {
        grid-column: span 9;
    }

    .b1-cs-10 {
        grid-column: span 10;
    }

    .b1-cs-11 {
        grid-column: span 11;
    }

    .b1-cs-12 {
        grid-column: span 12;
    }

    .b1-rs-1 {
        grid-row: span 1;
    }

    .b1-rs-2 {
        grid-row: span 2;
    }

    .b1-rs-3 {
        grid-row: span 3;
    }

    .b1-rs-4 {
        grid-row: span 4;
    }

    .b1-rs-5 {
        grid-row: span 5;
    }

    .b1-rs-6 {
        grid-row: span 6;
    }
}

@media (min-width: 48rem) {
    .b2-gg-0 {
        --g-gap: 0;
    }

    .b2-gg-1 {
        --g-gap: 0.25rem;
    }

    .b2-gg-2 {
        --g-gap: 0.5rem;
    }

    .b2-gg-3 {
        --g-gap: 0.75rem;
    }

    .b2-gg-4 {
        --g-gap: 1rem;
    }

    .b2-gg-5 {
        --g-gap: 1.25rem;
    }

    .b2-gg-6 {
        --g-gap: 1.5rem;
    }

    .b2-cs-1 {
        grid-column: span 1;
    }

    .b2-cs-2 {
        grid-column: span 2;
    }

    .b2-cs-3 {
        grid-column: span 3;
    }

    .b2-cs-4 {
        grid-column: span 4;
    }

    .b2-cs-5 {
        grid-column: span 5;
    }

    .b2-cs-6 {
        grid-column: span 6;
    }

    .b2-cs-7 {
        grid-column: span 7;
    }

    .b2-cs-8 {
        grid-column: span 8;
    }

    .b2-cs-9 {
        grid-column: span 9;
    }

    .b2-cs-10 {
        grid-column: span 10;
    }

    .b2-cs-11 {
        grid-column: span 11;
    }

    .b2-cs-12 {
        grid-column: span 12;
    }

    .b2-rs-1 {
        grid-row: span 1;
    }

    .b2-rs-2 {
        grid-row: span 2;
    }

    .b2-rs-3 {
        grid-row: span 3;
    }

    .b2-rs-4 {
        grid-row: span 4;
    }

    .b2-rs-5 {
        grid-row: span 5;
    }

    .b2-rs-6 {
        grid-row: span 6;
    }
}

@media (min-width: 60rem) {
    .b3-gg-0 {
        --g-gap: 0;
    }

    .b3-gg-1 {
        --g-gap: 0.25rem;
    }

    .b3-gg-2 {
        --g-gap: 0.5rem;
    }

    .b3-gg-3 {
        --g-gap: 0.75rem;
    }

    .b3-gg-4 {
        --g-gap: 1rem;
    }

    .b3-gg-5 {
        --g-gap: 1.25rem;
    }

    .b3-gg-6 {
        --g-gap: 1.5rem;
    }

    .b3-cs-1 {
        grid-column: span 1;
    }

    .b3-cs-2 {
        grid-column: span 2;
    }

    .b3-cs-3 {
        grid-column: span 3;
    }

    .b3-cs-4 {
        grid-column: span 4;
    }

    .b3-cs-5 {
        grid-column: span 5;
    }

    .b3-cs-6 {
        grid-column: span 6;
    }

    .b3-cs-7 {
        grid-column: span 7;
    }

    .b3-cs-8 {
        grid-column: span 8;
    }

    .b3-cs-9 {
        grid-column: span 9;
    }

    .b3-cs-10 {
        grid-column: span 10;
    }

    .b3-cs-11 {
        grid-column: span 11;
    }

    .b3-cs-12 {
        grid-column: span 12;
    }

    .b3-rs-1 {
        grid-row: span 1;
    }

    .b3-rs-2 {
        grid-row: span 2;
    }

    .b3-rs-3 {
        grid-row: span 3;
    }

    .b3-rs-4 {
        grid-row: span 4;
    }

    .b3-rs-5 {
        grid-row: span 5;
    }

    .b3-rs-6 {
        grid-row: span 6;
    }
}

@media (min-width: 72rem) {
    .b4-gg-0 {
        --g-gap: 0;
    }

    .b4-gg-1 {
        --g-gap: 0.25rem;
    }

    .b4-gg-2 {
        --g-gap: 0.5rem;
    }

    .b4-gg-3 {
        --g-gap: 0.75rem;
    }

    .b4-gg-4 {
        --g-gap: 1rem;
    }

    .b4-gg-5 {
        --g-gap: 1.25rem;
    }

    .b4-gg-6 {
        --g-gap: 1.5rem;
    }

    .b4-cs-1 {
        grid-column: span 1;
    }

    .b4-cs-2 {
        grid-column: span 2;
    }

    .b4-cs-3 {
        grid-column: span 3;
    }

    .b4-cs-4 {
        grid-column: span 4;
    }

    .b4-cs-5 {
        grid-column: span 5;
    }

    .b4-cs-6 {
        grid-column: span 6;
    }

    .b4-cs-7 {
        grid-column: span 7;
    }

    .b4-cs-8 {
        grid-column: span 8;
    }

    .b4-cs-9 {
        grid-column: span 9;
    }

    .b4-cs-10 {
        grid-column: span 10;
    }

    .b4-cs-11 {
        grid-column: span 11;
    }

    .b4-cs-12 {
        grid-column: span 12;
    }

    .b4-rs-1 {
        grid-row: span 1;
    }

    .b4-rs-2 {
        grid-row: span 2;
    }

    .b4-rs-3 {
        grid-row: span 3;
    }

    .b4-rs-4 {
        grid-row: span 4;
    }

    .b4-rs-5 {
        grid-row: span 5;
    }

    .b4-rs-6 {
        grid-row: span 6;
    }
}

@media (min-width: 84rem) {
    .b5-gg-0 {
        --g-gap: 0;
    }

    .b5-gg-1 {
        --g-gap: 0.25rem;
    }

    .b5-gg-2 {
        --g-gap: 0.5rem;
    }

    .b5-gg-3 {
        --g-gap: 0.75rem;
    }

    .b5-gg-4 {
        --g-gap: 1rem;
    }

    .b5-gg-5 {
        --g-gap: 1.25rem;
    }

    .b5-gg-6 {
        --g-gap: 1.5rem;
    }

    .b5-cs-1 {
        grid-column: span 1;
    }

    .b5-cs-2 {
        grid-column: span 2;
    }

    .b5-cs-3 {
        grid-column: span 3;
    }

    .b5-cs-4 {
        grid-column: span 4;
    }

    .b5-cs-5 {
        grid-column: span 5;
    }

    .b5-cs-6 {
        grid-column: span 6;
    }

    .b5-cs-7 {
        grid-column: span 7;
    }

    .b5-cs-8 {
        grid-column: span 8;
    }

    .b5-cs-9 {
        grid-column: span 9;
    }

    .b5-cs-10 {
        grid-column: span 10;
    }

    .b5-cs-11 {
        grid-column: span 11;
    }

    .b5-cs-12 {
        grid-column: span 12;
    }

    .b5-rs-1 {
        grid-row: span 1;
    }

    .b5-rs-2 {
        grid-row: span 2;
    }

    .b5-rs-3 {
        grid-row: span 3;
    }

    .b5-rs-4 {
        grid-row: span 4;
    }

    .b5-rs-5 {
        grid-row: span 5;
    }

    .b5-rs-6 {
        grid-row: span 6;
    }
}

@media (min-width: 96rem) {
    .b6-gg-0 {
        --g-gap: 0;
    }

    .b6-gg-1 {
        --g-gap: 0.25rem;
    }

    .b6-gg-2 {
        --g-gap: 0.5rem;
    }

    .b6-gg-3 {
        --g-gap: 0.75rem;
    }

    .b6-gg-4 {
        --g-gap: 1rem;
    }

    .b6-gg-5 {
        --g-gap: 1.25rem;
    }

    .b6-gg-6 {
        --g-gap: 1.5rem;
    }

    .b6-cs-1 {
        grid-column: span 1;
    }

    .b6-cs-2 {
        grid-column: span 2;
    }

    .b6-cs-3 {
        grid-column: span 3;
    }

    .b6-cs-4 {
        grid-column: span 4;
    }

    .b6-cs-5 {
        grid-column: span 5;
    }

    .b6-cs-6 {
        grid-column: span 6;
    }

    .b6-cs-7 {
        grid-column: span 7;
    }

    .b6-cs-8 {
        grid-column: span 8;
    }

    .b6-cs-9 {
        grid-column: span 9;
    }

    .b6-cs-10 {
        grid-column: span 10;
    }

    .b6-cs-11 {
        grid-column: span 11;
    }

    .b6-cs-12 {
        grid-column: span 12;
    }

    .b6-rs-1 {
        grid-row: span 1;
    }

    .b6-rs-2 {
        grid-row: span 2;
    }

    .b6-rs-3 {
        grid-row: span 3;
    }

    .b6-rs-4 {
        grid-row: span 4;
    }

    .b6-rs-5 {
        grid-row: span 5;
    }

    .b6-rs-6 {
        grid-row: span 6;
    }
}

.size {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-family: monospace;
}
